{% extends "layout.html" %}
{% block body %}

    <section class="site-hero site-hero-innerpage overlay" data-stellar-background-ratio="0.5" style="background-image: url('{{ url_for('static',filename='images/big_image_1.jpg')}}');">
      <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
          <div class="col-md-12 text-center">

            <div class="mb-5">
              <h1>News &amp; Events</h1>
              <p>Read our daily news and events of our luxury hotel.</p>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    <section class="site-section bg-light">
      <div class="container">

        <div class="row mb-5">
          <div class="col-md-4">
            <div class="post-entry">
              <a href="/bs"><img src="{{ url_for('static',filename='images/img_3.jpg')}}" alt="Image placeholder" class="img-fluid"></a>
              <div class="body-text">
                <div class="category">Rooms</div>
                <h3 class="mb-3"><a href="/bs">New Rooms</a></h3>
                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum deserunt illo quis similique dolore voluptatem culpa voluptas rerum, dolor totam.</p>
                <p><a href="#" class="btn btn-primary btn-outline-primary btn-sm">Read More</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="post-entry">
              <a href="/bs"><img src="{{ url_for('static',filename='images/img_6.jpg')}}" alt="Image placeholder" class="img-fluid"></a>
              <div class="body-text">
                <div class="category">News</div>
                <h3 class="mb-3"><a href="/bs">New Staff Added</a></h3>
                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum deserunt illo quis similique dolore voluptatem culpa voluptas rerum, dolor totam.</p>
                <p><a href="#" class="btn btn-primary btn-outline-primary btn-sm">Read More</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="post-entry">
              <a href="/bs"><img src="{{ url_for('static',filename='images/img_5.jpg')}}" alt="Image placeholder" class="img-fluid"></a>
              <div class="body-text">
                <div class="category">New Rooms</div>
                <h3 class="mb-3"><a href="/bs">Big Rooms for All</a></h3>
                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum deserunt illo quis similique dolore voluptatem culpa voluptas rerum, dolor totam.</p>
                <p><a href="#" class="btn btn-primary btn-outline-primary btn-sm">Read More</a></p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="post-entry">
              <a href="/bs"><img src="{{ url_for('static',filename='images/img_3.jpg')}}" alt="Image placeholder" class="img-fluid"></a>
              <div class="body-text">
                <div class="category">Rooms</div>
                <h3 class="mb-3"><a href="/bs">New Rooms</a></h3>
                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum deserunt illo quis similique dolore voluptatem culpa voluptas rerum, dolor totam.</p>
                <p><a href="#" class="btn btn-primary btn-outline-primary btn-sm">Read More</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="post-entry">
              <a href="/bs"><img src="{{ url_for('static',filename='images/img_6.jpg')}}" alt="Image placeholder" class="img-fluid"></a>
              <div class="body-text">
                <div class="category">News</div>
                <h3 class="mb-3"><a href="/bs">New Staff Added</a></h3>
                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum deserunt illo quis similique dolore voluptatem culpa voluptas rerum, dolor totam.</p>
                <p><a href="#" class="btn btn-primary btn-outline-primary btn-sm">Read More</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="post-entry">
              <a href="/bs"><img src="{{ url_for('static',filename='images/img_5.jpg')}}" alt="Image placeholder" class="img-fluid"></a>
              <div class="body-text">
                <div class="category">New Rooms</div>
                <h3 class="mb-3"><a href="/bs">Big Rooms for All</a></h3>
                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum deserunt illo quis similique dolore voluptatem culpa voluptas rerum, dolor totam.</p>
                <p><a href="#" class="btn btn-primary btn-outline-primary btn-sm">Read More</a></p>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-12 text-center">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->
{% endblock %}
